[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glad"]
	path = dependencies/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "dependencies/imguiCmake/libs/imgui"]
	path = dependencies/imguiCmake/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/imguiCmake/libs/SDL"]
	path = dependencies/imguiCmake/libs/SDL
	url = https://github.com/libsdl-org/SDL.git
